.calendary {
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;
  margin: 32px auto;
  padding: 20px 30px 30px 30px;
  border-radius: 8px;
  border: 2px solid #ffffff2b;
  background-color: #ffffff21;
}
.calendary-week-name-cont {
  display: grid;
  gap: 8px;
  width: 100%;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.calendary-week-name-small {
  display: none;
}

.calendary-week-cont {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8px;
}
.calendary-week {
  width: 100%;
  display: flex;
  gap: 8px;
}
.calendary-day {
  width: 100%;
  min-width: 50px;
  height: 90px;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 8px;
  background-color: #ffffff21;
  border: 2px solid #ffffff2b;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.calendary-day:hover {
  background-color: #ffffff42;
  filter: brightness(1.2);
}

@media (max-width: 850px) {
  .calendary {
    position: relative;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    gap: 0;
    padding: 30px;
  }
  .calendary-week-name-cont {
    position: absolute;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    height: 100%;
    width: fit-content;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, minmax(0, 1fr));
    font-weight: bold;
    font-size: 20px;
  }
  .calendary-week-name {
    display: none;
  }
  .calendary-week-name-small {
    margin: 0 0 auto 0;
    font-size: 16px;
    display: block;
    border-radius: 8px;
    padding: 4px;
    background-color: #ffffff21;
  }
  .calendary-week-cont {
    margin-right: 10px;
    overflow: auto;
    max-width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    scroll-snap-type: x mandatory;
  }
  .calendary-week {
    scroll-snap-align: start;

    flex-direction: column;
    gap: 8px;
  }
  .calendary-day {
    min-width: 150px;
  }
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.skill {
  background-color: #ffffff21;
  border: 2px solid #ffffff2b;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.skill:hover {
  transform: translateY(-5px);
  box-shadow: 0 0px 15px rgba(215, 215, 215, 0.2);
  filter: brightness(1.2);
}
.skill-description {
  margin-bottom: 8px;
  background-color: #ffffff11;
  border: 1px solid #ffffff2b;
  border-radius: 8px;
  padding: 8px;
}
.skill p {
  text-align: left;
}

.skill-naranja {
  background: linear-gradient(0deg, #332007 0%, #643d0b 100%);
}

.skill-verde {
  background: linear-gradient(0deg, #103307 0%, #17640b 100%);
}
